body {
    font-family: Arial;
    padding: 1em;
    width: 300px;
}

textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 1em;
}

button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    border: 4px solid #dec803;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: rgb(209, 60, 60);
    color: white;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transition: all 0.3s ease-in-out;
    animation: pulse-scale 0.8s infinite ease-in-out;
}

#status {
    margin-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.header h2 {
    margin-left: 10px;
}

#spamList {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
}

#spamList div {
    margin-bottom: 5px;
}

#confirmDelete {
    display: none;
}

@keyframes pulse-scale {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}